@import 'variables';


.card_add{
  position: absolute;
  left:15px;
  text-align: center;
  width: 80%;
  padding: 50px 20px 50px 20px;
  border: 1px dashed $text-base-color ;
  border-radius: 10px; 
}

.card_img{
  img{
    width: auto;
    height: 250px;
  }
  width: 30px;
}




